body
{
   background-color: #F2E9E4;
   color:#22223B;
   font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

h2{text-align: center;}

nav{
    text-align: center;
}

#Restaruant_Nav
{
    background-color:#9A8C98 ;

}

p {
    font-weight: bold;
    
}

#Menu,#Story,#About{
    background-color: #C9ADA7;
    margin: 0;
}

ul+img{
    float:right;
    display:block;
}

ul li {
    color:teal
}

h3+img 
{
    display:block;
    float:left;
    padding-bottom: 5em;}

a:link{

    color: rgb(53, 8, 80)
}
a:visited{
    color:silver
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
